{% extends 'base.html' %}

{% block titulo %}
<title>Agregar categoria | Diario del metaverso</title>
{% endblock %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}
{% load static %}
<div class="main-container" style="text-align: center; margin-top: 12%;">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="overlay">
            <div class="con">
                <header class="head-form">
                    <h2 class="t-colores">Agregar categoria</h2>
                    <p class="t-colores">Ingrese los datos y presione el botón de guardar</p>
                </header>
                <div>
                    {{form.as_p}}
                    <input type="submit" value="Guardar">
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}