* {
	font-family: 'Lato', sans-serif;	
}


h1 {
	font-size: 55px;  
	text-align: left; 
	padding-bottom: 20px; 
	color:#0c2e3e;
    font-family: 'Lato', sans-serif;
	font-weight: 700;
}


/* Barra de navegacion */
.d-img {
	height: 80%;
	object-fit: cover;
	filter: brightness(0,6);
}

.d-item {
	height: 200%;
}

.navbar {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	letter-spacing: 0.20px;
	font-size: 18px;
}

.nav-item {
	padding-right: 20px;
}

/* Index */

.seccion-index-body {
	padding: 40px;
}

.btn-bg_registrar {
	background-color: #6E6ECC;
	color: #fff;
}

.subtitulo-portada {
	font-family: 'Lato', sans-serif;
	font-size: 19px;
	color: #0c2e3e;
	font-style: normal;
	font-weight: 400;
}


/* Contacto */

.seccion-contacto-body {
	padding: 40px;
}

.bloque-contacto {
	padding-top: 10px;
	width: 420px;
	
}


/* Formulario de contacto */

.body-contacto {
	height: 100%; 
	font-family: 'Noto Sans', sans-serif;
    background-color: #fff; 
    margin: 0rem;
	
}

.formulario-subtitulo {
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;
    font-weight: 580;   
}

.contact_form {	
	width: 460px; 
    height: auto;
    margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
    background-color: #fbfbfb; 
    padding-left: 30px; 
}

input { 
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #6E6ECC; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}

textarea {
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #6E6ECC; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
}

label {
    display: block; 
	float: center; 	
}

button {
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 
	padding-top: 10px;	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #6E6ECC; 
	border-color: #6E6ECC; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;
    cursor: pointer;
}


button p {
	color: #fff; 
}


span {
	color: #6E6ECC; 
}


.aviso {
	font-size: 13px;  
	color: #0e0e0e;  
}

p {
	font-size: 14px; 
	color: #0e0e0e; 
}

::-webkit-input-placeholder {
   color: #a8a8a8;
}


::-webkit-textarea-placeholder {
   color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid grey;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid grey;
}


/* Footer */

.seccion-footer {
    background-color: #1b1b32;
    color: #fff;
}

.footer-texto {
	font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
    padding: 20px;
    margin-bottom: 30px;
	color: #fbfbfb;
	font-weight: 700;
}

.icons-social-media a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 50%;
    transition: all 0.2s ease-in;
}

.icons-social-media i {
    color: white;
    font-size: 1.5rem;
    transition: all 0.2s ease-in;
}

.icons-social-media a:hover {
    background-color: white;
    border: 2px solid rgb(13,110,253);
}

.icons-social-media a:hover i {
    color: #000;
}

.copyright {
    font-size: 15px;
    color: #d7d7e4;
    padding: 20px;
}

/* (Responsive) */
