{% extends 'base.html' %}

{% block titulo %}
<title>Registro | Diario del metaverso</title>
{% endblock %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}


{% block contenido %}
<h1>Registro de usuario</h1>
<div class="container" style="margin: 10%;">
  <hr>
    <form enctype="multipart/form-data" action="" method="post">
      {% csrf_token %}
      {{form.as_p}}
      <div class="col-auto">
        <button type="submit" class="btn btn-bg_registrar mb-3">Registrarse</button>
      </div>
    </form>
</div>

{% endblock %}


