{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Nosotros | Diario del metaverso</title>
{% endblock %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}
<div class="seccion-contacto-body">
  <h1>Nosotros</h1>
  <div class="bloque-contacto">
    <p class="subtitulo-portada">Somos una agencia de noticias, con 
      oficinas en Resistencia y Buenos Aires, con 7 años de experiencia 
      y cuya misión es informar sobre el Metaverso.</p>
  </div>
  <div class="bloque-contacto">
    <p class="subtitulo-portada">Nuestro equipo está formado por escritores, influencers,
       ilustradores y profesionales del periodismo digital.</p>
    <div class="fondo-integrantes bg-light">   
       <ul class="integrantes">
        <li>Kurtz María Clara</li>
      </ul>
      <ul class="integrantes">
        <li>Navarro Julián David</li>
      </ul>
      <ul class="integrantes">
        <li>Quintana German Axel</li>
      </ul>
      <ul class="integrantes">
        <li>Romero Alejandra Soledad</li>
      </ul>
      <ul class="integrantes">
        <li>Luis Alberto Trassani</li>
      </ul>
      <ul class="integrantes">
        <li>Tatiana Gerzenstein</li>
      </ul>
    </div>
    <a type="button" class="btn btn-bg_registrar" href="{% url 'contacto' %}">CONTACTÁ CON NOSOTROS</a>
  </div>
</div>
{% endblock %}
