{% extends 'base.html' %}
{% load static %}

{% block titulo %}
<title>Nosotros</title>
{% endblock %}

{% block navegacion %}
{% include 'navegacion.html' %}
{% endblock %}

{% block contenido %}
<div class="seccion-contacto-body">
  <h1>Nosotros</h1>
  <div class="bloque-contacto">
    <p class="subtitulo-portada">Somos una agencia de noticias, con 
      oficinas en Resistencia y Buenos Aires, con casi 10 años de experiencia 
      y cuya misión es informar sobre el Metaverso.</p>
  </div>
  <div class="bloque-contacto">
    <p class="subtitulo-portada">Nuestro equipo está formado por escritores, influencers,
       ilustradores y profesionales del periodismo digital.</p>
    <a type="button" class="btn btn-bg_registrar" href="{% url 'contacto' %}">CONTACTÁ CON NOSOTROS</a>
  </div>
</div>
{% endblock %}
